<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><li><a href="/home/">Home</a></li></li>

    <li><a class='dropdown-arrow' href='http://'>Dogz</a>
      <ul class='sub-menus'>
        <a href="/dogz/dogz_detail">Dogs Details</a>
        <li><li><a href="/dogz/">Dogz</a></li></li>
        <li><a href='http://'></a></li>
        <li><a href='http://'></a></li>
      </ul>
    </li>
    <li><a href='http://'>About</a></li>
    <li><a class='dropdown-arrow' href='http://'>Services</a>
      <ul class='sub-menus'>

        <li><a href="/dias/dias_details">Dias Trabalhados</a></li>
      </ul>
    </li>
    <li><a href='http://'>Contact Us</a></li>
  </ul>
</nav>